<h1>Bun-Burgers!</h1>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>
                    {{burger_name}}

                    <button class="change-devoured" data-id="{{id}}" data-newsleep="{{sleep}}">
                        {{#if devoured}}NO EAT TIME!{{else}}EAT TIME!{{/if}}
                    </button>

                </li>
                {{/unless}}
                {{/each}}
            </ul>

        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5"></div>
    </div>
</div>

<textarea id="usersBurger"></textarea>
<br>
<button id="submit">Submit</button>
<p>Enter the burger you to eat and click "Submit"</p>