body{
    background: url(../images/background.png);
    
}

.container{
    background-color: rgba(219, 161, 219, 0.521);
    border: 5px dashed rgba(255, 255, 0, 0.411);
    padding-bottom: 2%;
}

h1{
    text-align: center;
    font-size: 60px;
    margin-top: 12%;
    width: 100%;
    color: red;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
    font-family: 'Concert One', cursive;
}

.burger-img-left{
    width: 100px;
    float: right;
}

.burger-img-right{
    width: 100px;
    transform: scaleX(-1);
    float: left;
}

.col-md-6{
    text-align: center;
}

.notDevoured{
    background: url(../images/burger.png);
    background-repeat: no-repeat;
    background-position: center top;
}

.notDevoured:hover{
    background: url(../images/burger-eat.png);
    background-repeat: no-repeat;
    background-position: center top;
}

.notdevouredCard{
    float: left;
    margin: 2%;
}

.notdevouredCard:hover{
    border: 1px solid red;
}

.notdevouredText{
    margin-top: 125px;
}

.devouredCard{
    background-color: rgb(201, 199, 199);
    color: rgb(179, 179, 179);
    font-style: italic;
}